@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
		--color-primary: #000;
		--color-primary-100: #58a111;
		--color-tchubiraum: red;
		--color-background: #fff;
		--color-contrast: #0a0a0a;
		--color-font-primary: #1d1d1d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
